* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: black;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("background\ sign-in.jpg");
    background-size: cover;
}

.signin-form {
    margin: 0 auto;
    background-color: #fff;
    margin-top: 100px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    width: 300px;
    transition: background 0.3s ease-in-out;
}

h5 {
    text-align: left;
    margin-left: 10px;
    margin-bottom: auto;
}

button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    margin-right: 10px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

input {
    text-align: left;
    width: 90%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button:hover {
    background-color: #32c93c;
}